@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

@layer components{

    /*--------------- Header ----------------*/
    .mobile-nav-wrapper{
        @apply pb-5 mb-8 border-b border-b-dft
    }
    .mobile-nav-wrapper .title{
        @apply text-xl font-extrabold text-lfp dark:text-dfp mb-4
    }
    .mobile-nav-wrapper ul li{
        @apply mb-2
    }
    .mobile-nav-wrapper ul li a{
        @apply text-base text-lfs dark:text-dfs transition-all duration-300 hover:text-accent dark:hover:text-accent
    }

    /*--------------- News List ----------------*/
    .news-list li{
        @apply odd:bg-llist even:bg-dlist text-lap
    }

    /*--------------- Footer ----------------*/
    .footer-list{
        @apply  flex flex-wrap border-b-2 border-lfs pb-6
    }
    .footer-list li{
        @apply  border-r-2 border-lfs pt-2 text-dfs w-[45%] sm:w-[30%] md:w-[22%] lg:w-[18%] ml-4
    }
    .footer-list2{
        @apply   flex flex-wrap gap-4 text-dfs font-semibold
    }
    .footer-list2 li{
        @apply  w-[45%] sm:w-[30%] md:w-[22%] lg:w-auto pt-2
    }
}




/*=============== Syles ===============*/

body {
    font-family: 'Inter', sans-serif;
}

/*=============== scrollbar style ===============*/

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(#4364f9);
    border-radius: 20px;
    border: 3px solid;
}

.light-theme::-webkit-scrollbar-thumb {
    border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
    border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
    background: hsl(219, 27%, 20%);
}

/*=============== End Base ===============*/
.mobile-nav {
    transition: 700ms cubic-bezier(1, 0, 0.3, 0.7);
}

.card-shadow{
    -webkit-box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
    box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
}

.reel-news-bg{
    background: rgb(26,26,26);
    background: linear-gradient(180deg, rgba(26,26,26,1) 13%, rgba(178,178,178,1) 100%);
}