@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

@layer components{
    
    /*--------------- Dark & Light ----------------*/
    .bg-p{
        @apply bg-lbp dark:bg-dbp
    }
    .bg-s{
        @apply bg-lbs dark:bg-dbs
    }
    .bg-ac{
        @apply bg-accent dark:bg-daccent
    }
    .text-p{
        @apply text-lfp dark:text-dfp
    }
    .text-s{
        @apply text-lfs dark:text-dfs
    }
    .text-t{
        @apply text-lft dark:text-dft
    }

    /*--------------- Button ----------------*/
    .button-ac{
        @apply bg-ac text-dfp text-2xl py-2 px-8 rounded-3xl shadow-lg mt-6 flex justify-center items-center gap-4 hover:scale-110 duration-300
    }

    /*--------------- Header ----------------*/
    .mobile-nav-wrapper{
        @apply pb-5 mb-8 border-b border-b-dft
    }
    .mobile-nav-wrapper .title{
        @apply text-xl font-extrabold text-lfp dark:text-dfp mb-4
    }
    .mobile-nav-wrapper ul li{
        @apply mb-2
    }
    .mobile-nav-wrapper ul li a{
        @apply text-base text-lfs dark:text-dfs transition-all duration-300 hover:text-accent dark:hover:text-accent
    }
    .socail-icons li{
        @apply text-xl p-2 rounded-full hover:bg-lft dark:hover:bg-dft transition-all duration-300
    }
    .socail-icon{
        @apply text-xl md:text-2xl
    }
    .form-group{
        @apply  flex flex-col gap-2 w-[100%] sm:w-[80%]
    }
    .form-group label{
        @apply  text-s text-lg
    }
    .form-group input{
        @apply  outline-none text-p text-lg px-4 w-full h-12 bg-s rounded-3xl shadow-lg
    }
    .form-group p{
        @apply  text-accent text-sm
    }

    /*--------------- News List ----------------*/
    .news-list li{
        @apply odd:bg-llist even:bg-dlist text-lap
    }

    /*--------------- Footer ----------------*/
    .footer-list{
        @apply  flex flex-wrap border-b-2 border-lfs pb-6
    }
    .footer-list li{
        @apply  border-r-2 border-lfs pt-2 text-dfs w-[45%] sm:w-[30%] md:w-[22%] lg:w-[18%] ml-4
    }
    .footer-list2{
        @apply   flex flex-wrap gap-4 text-dfs font-semibold
    }
    .footer-list2 li{
        @apply  w-[45%] sm:w-[30%] md:w-[22%] lg:w-auto pt-2
    }


    /*============================ Post Detail ============================*/
    /*--------------- Bar ----------------*/
    .news-bar{
        @apply hidden sm:flex justify-start items-start 
        w-full h-full sm:overflow-x-scroll sm:whitespace-nowrap sm:scroll-smooth scrollbar-hide
    }
    .news-bar li{
        @apply text-p font-bold pr-2 mr-4 text-dfp border-r-2 border-lft hover:underline
    }

    .news-dropbar{
        @apply text-p flex flex-wrap text-p font-bold
    }
    .news-dropbar li{
        @apply border-r-2 border-lfs pt-2 w-[45%] sm:w-[30%] md:w-[22%] lg:w-[18%] ml-4
    }

    .news-subbar{
        @apply flex justify-start items-start
            w-full h-full overflow-x-scroll whitespace-nowrap scroll-smooth scrollbar-hide
    }
    .news-subbar li{
        @apply text-p font-bold pr-2 mr-4 border-r-2 border-lft
    }

    /*--------------- Related Topic ----------------*/
    .topic-list{
        @apply px-3 flex flex-wrap justify-start items-center gap-4
    }
    .topic-list li{
        @apply bg-p py-1 px-3 rounded-lg hover:text-accent hover:underline font-semibold text-s
    }
}




/*=============== Syles ===============*/

body {
    font-family: 'Inter', sans-serif;
}

/*=============== scrollbar style ===============*/

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(#4364f9);
    border-radius: 20px;
    border: 3px solid;
}

.light-theme::-webkit-scrollbar-thumb {
    border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
    border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
    background: hsl(219, 27%, 20%);
}

/*=============== End Base ===============*/
.mobile-nav {
    transition: 700ms cubic-bezier(1, 0, 0.3, 0.7);
}

.card-shadow{
    -webkit-box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
    box-shadow: inset 0px -70px 72px 12px rgba(0,0,0,0.75);
}

.reel-news-lbg{
    background: #1a1a1a;
    background: linear-gradient(180deg, #1a1a1a 13%, #b2b2b2 100%);
}