@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

@layer components{

}




/*=============== Syles ===============*/

body {
    font-family: 'Inter', sans-serif;
}

/*=============== scrollbar style ===============*/

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(#4364f9);
    border-radius: 20px;
    border: 3px solid;
}

.light-theme::-webkit-scrollbar-thumb {
    border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
    border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
    background: hsl(219, 27%, 20%);
}

/*=============== End Base ===============*/